<link rel="preload" 
      href="/css/<%= prefix %>.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="<%= getJsAsset(prefix+'.js') %>" as="script">

<div class="content">
    <div class="d-flex g-16 filter">
        <div class="d-flex g-16" id="filter">

        </div>
        <button class="orange-btn" id="filter-btn">Найти</button>
    </div>
</div>

<script src="<%= getJsAsset(prefix+'.js') %>"></script>