<link rel="preload" 
      href="/css/footer.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<footer>
    <div class="main-width d-flex between">
        <div class="w-33 d-flex start">
            <span class="photographer">Фотограф Александра Кенециус</span>
        </div>
        <div class="w-33 d-flex center">
            <a href="mailto:info@kenecius.ru" class="modern">info@kenecius.ru</a>
        </div>
        <div class="w-33 d-flex end">
            <span class="year"><%= new Date().getFullYear() %></span>
        </div>
    </div>
</footer>