<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="form">
        <h2 class="modern">Восстановление пароля</h2>
        <div class="row">
            <label for="login" class="modern">Введите логин:</label>
            <input type="text" name="login" id="login" class="modern">
        </div>
        <button class="orange-btn" id="send">Отправить</button>
    </div>
</div>
<script src="/js/<%= prefix %>.js"></script>