<link rel="stylesheet" href="/css/header.css">
<div id="header">
    <div class="header-area main-width">
        <div class="w-33 d-flex start">
            <div class="logo">
                <a href="/">
                    <img src="/media/logo.svg" alt="logo">
                </a>
            </div>
        </div>
        <div class="w-33 d-flex around">
            <% menuItems.forEach(item => { %>
                <div class="menu-item">
                    <a href="<%= item.href %>" class="modern gray"><%= item.name %></a>
                </div>
            <% }); %>
        </div>
        <div class="w-33 d-flex end">
            <% if(userData) {%>
                <a class="modern profile" id="header-btn" href="/user/<%= userData.id %>/profile">
                    <img src="/media/userico.svg" alt="userico" class="ico">
                    <%= userData.login %>
                </a>
            <% }else{ %>
                <a class="orange-btn" id="header-btn" href="/auth/login">Войти</a>
            <% } %>
        </div>
    </div>
</div>