<link rel="preload" 
      href="/css/header.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<div id="header">
    <div class="header-area main-width">
        <div class="w-15 d-flex start">
            <div class="logo">
                <a href="/">
                    <img src="/media/logo.webp" alt="logo" fetchpriority=high>
                </a>
            </div>
        </div>
        <div class="d-flex g-32 start">
            <% menuItems.forEach(item => { %>
                <div class="menu-item">
                    <a href="<%= item.href %>" class="modern gray menu-item-link"><%= item.name %></a>
                </div>
            <% }); %>
        </div>
        <div class="w-15 d-flex end">
            <% if(userData) {%>
                <a class="modern profile" id="header-btn" href="/user/<%= userData.id %>/profile">
                    <img src="/media/userico.svg" alt="userico" class="ico">
                    <%= userData.login %>
                </a>
            <% }else{ %>
                <a class="orange-btn" id="header-btn" href="/auth/login">Войти</a>
            <% } %>
        </div>
    </div>
</div>