<link rel="stylesheet" href="/css/header.css">
<div id="header">
    <div class="header-area main-width">
        <div class="w-33 d-flex start">
            <div class="logo">
                <img src="/media/logo.svg" alt="logo">
            </div>
        </div>
        <div class="w-33 d-flex around">
            <div class="menu-item">
                <a href="#" class="modern gray">О фотографе</a>
            </div>
            <div class="menu-item">
                <a href="#" class="modern gray">Портфолио</a>
            </div>
            <div class="menu-item">
                <a href="#" class="modern gray">FAQ</a>
            </div>
            <div class="menu-item">
                <a href="#" class="modern gray">Хочу фотосессию</a>
            </div>
        </div>
        <div class="w-33 d-flex end">
            <% if(userData) {%>
                <a class="modern profile" href="/user/<%= userData.id %>/profile">
                    <img src="/media/userico.svg" alt="userico" class="ico">
                    <%= userData.login %>
                </a>
            <% }else{ %>
                <a class="orange-btn" href="/auth/login">Войти</a>
            <% } %>
        </div>
    </div>
</div>