<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="form">
        <h2 class="modern">Авторизация</h2>
        <div class="row">
            <label for="login" class="modern">Логин</label>
            <input class="modern" type="text" name="login" id="login">
        </div>
        <div class="row">
            <label for="pass" class="modern">Пароль</label>
            <input class="modern" type="password" name="pass" id="pass">
        </div>
        <button class="modern" id="send">Войти</button>
        <div class="d-flex center">
            <a href="/auth/register" class="modern">Регистрация</a>
        </div>
        <div class="d-flex center">
            <a href="/auth/forgot" class="modern">Забыли пароль</a>
        </div>
    </div>
</div>
<script src="/js/<%= prefix %>.js"></script>