<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="form">
        <h2 class="modern">Регистрация</h2>
        <div class="row">
            <label for="login" class="modern">Логин</label>
            <input class="modern" type="text" name="login" id="login">
        </div>
        <div class="row">
            <label for="email" class="modern">Email</label>
            <input class="modern" type="email" name="email" id="email">
        </div>
        <div class="row">
            <label for="name" class="modern">Имя</label>
            <input class="modern" type="text" name="name" id="name">
        </div>
        <div class="row">
            <label for="lastname" class="modern">Повторите пароль</label>
            <input class="modern" type="text" name="lastname" id="lastname">
        </div>
        <div class="row">
            <label for="pass" class="modern">Пароль</label>
            <input class="modern" type="password" name="pass" id="pass">
        </div>
        <div class="row">
            <label for="passCheck" class="modern">Повторите пароль</label>
            <input class="modern" type="password" name="passCheck" id="passCheck">
        </div>
        <button class="modern" id="send">Зарегистрироваться</button>
        <div class="d-flex center">
            <a href="/auth/login" class="modern">Авторизация</a>
        </div>
    </div>
</div>
<script src="/js/<%= prefix %>.js"></script>