<link rel="preload" 
      href="/css/<%= prefix %>.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="<%= getJsAsset(prefix+'.js') %>" as="script">
<div class="content">
    <div class="form-w-img">
        <div class="form-fields" id="form">
            <h1 class="modern">Проверка кода</h1>
            <div class="row">
                <label for="code" class="modern">Введите код:</label>
                <input type="text" name="сode" id="code" class="modern">
            </div>
            <button class="orange-btn w-100" id="send">Отправить</button>
        </div>
        <div class="form-img-wrapper">
            <img src="/media/formbc.webp" alt="Фотостудия" fetchpriority="high">
        </div>
    </div>
</div>
<script src="<%= getJsAsset(prefix+'.js') %>"></script>