<link rel="stylesheet" href="/css/restore.css">
<div class="content">
    <div class="form" id="form">
        <h2 class="modern">Проверка кода</h2>
        <div class="row">
            <label for="code" class="modern">Введите код:</label>
            <input type="text" name="сode" id="code" class="modern">
        </div>
        <button class="modern" id="send">Отправить</button>
    </div>
</div>
<script src="/js/restore.js"></script>