<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="form g-32" id="form">
        <h2 class="modern">Проверка кода</h2>
        <div class="row">
            <label for="code" class="modern">Введите код:</label>
            <input type="text" name="сode" id="code" class="modern">
        </div>
        <button class="orange-btn" id="send">Отправить</button>
    </div>
</div>
<script src="/js/<%= prefix %>.js"></script>