<link rel="preload" 
      href="/css/<%= prefix %>.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<div class="content">
    <div class="form-w-img">
        <div class="form-fields">
            <h1 class="modern">Отзыв смены пароля</h1>
            <div class="row">
                <h2 class="modern">Успешно отозвано</h2>
            </div>
        </div>
        <div class="form-img-wrapper">
            <img src="/media/formbc.webp" alt="Фотостудия" fetchpriority="high">
        </div>
    </div>
</div>