<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="form">
        <h2 class="modern">Отзыв смены пароля</h2>
        <div class="row">
            <h2 class="modern">Успешно отозвано</h2>
        </div>
    </div>
</div>