<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="banner-with-text">
        <div class="img-wrapper">
            <img src="/media/banner.jpeg" alt="banner">
            <div class="banner-btn-place">
                <a href="#form" class="orange-btn">Хочу фотосессию</a>
            </div>
        </div>
        <div class="d-flex column center align-center">
            <h2 class="modern big-header white">Каждый момент важен</h2>
            <p class="big-text white">
                пусть твоя история будет запечатлена красиво
            </p>
        </div>
    </div>
    <div class="form" id="faq">
        <div class="form-name">
            <h2 class="modern big-header white">
                FAQ
            </h2>
        </div>
        <div class="cards-area">
            <div class="cards-row">
                <div class="cards">
                    <div class="card">
                        <h4 class="">
                            Сколько стоит фотосессия
                        </h4>
                    </div>
                    <div class="card">
                        <h4 class="card-header">
                            На каких видах фотосессий специализируюсь
                        </h4>
                    </div>
                    <div class="card">
                        <h4 class="card-header">
                            Можно ли арендовать студию, реквизит
                        </h4>
                    </div>
                    <div class="card">
                        <h4 class="card-header">
                            Что я получу после фотосессии
                        </h4>
                    </div>
                    <div class="card">
                        <h4 class="card-header">
                            Возможные геолокации съемок
                        </h4>
                    </div>
                    <div class="card">
                        <h4 class="card-header">
                            Как подготовиться к фотосессии
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="carousel-nav">
                <button class="nav-btn" id="prev-btn">
                    <i class="fas fa-chevron-left"></i>
                </button>
                
                <div class="carousel-dots" id="carousel-dots">
                    <!-- Точки навигации будут сгенерированы через JavaScript -->
                </div>
                
                <button class="nav-btn" id="next-btn">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form" id="form">
        <div class="form-name">
            <h2 class="modern big-header white">
                Заказать фотосессию
            </h2>
        </div>
        <div class="d-flex between g-50">
            <div class="row">
                <label class="modern" for="name">Ваше имя <span class="red">*</span></label>
                <% if(userData){ %>
                    <input type="text" name="name" id="name" class="modern req" value="<%= userData.name %>">
                <% }else { %>
                    <input type="text" name="name" id="name" class="modern req" value="">
                <% } %>
                
            </div>
            <div class="row">
                <label class="modern" for="email">Ваш email <span class="red">*</span></label>
                <% if(userData){ %>
                    <input type="email" name="email" id="email" class="modern req" value="<%= userData.email %>">
                <% }else { %>
                    <input type="email" name="email" id="email" class="modern req" value="">
                <% } %>
            </div>
        </div>
        <div class="d-flex between g-50">
            <div class="row">
                <label class="modern" for="link">Как с вами связаться <span class="red">*</span></label>
                <input type="text" name="link" id="link" class="modern req" >
            </div>
            <div class="row">
                <label class="modern" for="date">Предпочитаемая дата</label>
                <input type="date" name="date" id="date" class="modern">
            </div>
        </div>
        <div class="row">
            <label class="modern" for="desc">Дополнительная информация</label>
            <textarea class="modern" name="desc" id="desc"></textarea>
        </div>
        <div class="d-flex start full">
            <input type="checkbox" name="agreement" id="agreement">
            <label class="modern" for="agreement">Я предоставляю согласие на обработку персональных данных</label>
        </div>
        <button class="orange-btn full">Отправить</button>
    </div>
</div>
<script src="/js/<%= prefix %>.js"></script>