<link rel="stylesheet" href="/css/<%= prefix %>.css">
<div class="content">
    <div class="banner-with-text">
        <div class="img-wrapper">
            <img src="/media/banner.jpeg" alt="banner">
            <div class="banner-btn-place">
                <a href="#form" class="orange-btn">Хочу фотосессию</a>
            </div>
        </div>
        <div class="d-flex column center align-center">
            <h2 class="modern big-header white">Каждый момент важен</h2>
            <p class="big-text white">
                пусть твоя история будет запечатлена красиво
            </p>
        </div>
    </div>
    <div class="form" id="about">
        <div class="form-name">
            <h2 class="modern big-header white">
                О фотографе
            </h2>
        </div>
        <div class="about-area">
            <div class="avatar-area">
                <img src="/media/avatar.jpg" alt="avatar">
            </div>
            <div class="about-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.

Quisque et elit malesuada, accumsan est at, condimentum nisi. Mauris enim sem, egestas quis aliquam nec, lacinia eget augue. Proin elementum pellentesque consequat. In eget felis ligula. Fusce egestas, nisl id consectetur egestas, lectus enim placerat nunc, nec fermentum orci risus non sem. Suspendisse malesuada orci augue, id vulputate nulla suscipit sed. Donec faucibus libero vitae libero suscipit, in vestibulum felis rhoncus. Nulla maximus lacus viverra, semper quam tincidunt, euismod ipsum. Proin quis hendrerit ipsum. Suspendisse potenti. Praesent ullamcorper, lacus in vestibulum tincidunt, magna dui commodo tellus, in ullamcorper nisi sem vitae nibh. Vivamus cursus accumsan diam id sagittis. Integer sagittis viverra tincidunt.
                </p>
            </div>
        </div>
    </div>
    <div class="marquee-container">
        <div class="marquee-track" id="marqueeTrack">
            
        </div>
    </div>
    <div class="portfolio">
        <img src="/media/portfolio.jpeg" alt="portfolio">
        <div class="portfolio-btn-place">
            <a href="#" class="orange-btn">Посмотреть портфолио</a>
        </div>
    </div>
    <div class="form" id="faq">
        <div class="form-name">
            <h2 class="modern big-header white">
                FAQ
            </h2>
        </div>
        <div class="cards-area">
            <div class="carousel-nav">
                <button class="nav-btn" id="prev-btn">
                    <img class="ico" src="/media/prev.svg" alt="prev">
                </button>
                
                <div class="carousel-dots" id="carousel-dots">
                    <!-- Точки навигации будут сгенерированы через JavaScript -->
                </div>
                
                <button class="nav-btn" id="next-btn">
                    <img class="ico" src="/media/next.svg" alt="next">
                </button>
            </div>
            <div class="cards-row">
                <div class="cards">
                    <div class="card" data-index="1">
                        <h4 class="card-header">
                            Сколько стоит фотосессия
                        </h4>
                    </div>
                    <div class="card" data-index="2">
                        <h4 class="card-header">
                            На каких видах фотосессий специализируюсь
                        </h4>
                    </div>
                    <div class="card" data-index="3">
                        <h4 class="card-header">
                            Можно ли арендовать студию, реквизит
                        </h4>
                    </div>
                    <div class="card" data-index="4">
                        <h4 class="card-header">
                            Что я получу после фотосессии
                        </h4>
                    </div>
                    <div class="card" data-index="5">
                        <h4 class="card-header">
                            Возможные геолокации съемок
                        </h4>
                    </div>
                    <div class="card" data-index="6">
                        <h4 class="card-header">
                            Как подготовиться к фотосессии
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-desc">
            <div class="card-content" data-index="1">
                <h4 class="card-header">
                    Сколько стоит фотосессия
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.
                </p>
            </div>
            <div class="card-content hidden" data-index="2">
                <h4 class="card-header">
                    На каких видах фотосессий специализируюсь
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.
                </p>
            </div>
            <div class="card-content hidden" data-index="3">
                <h4 class="card-header">
                    Можно ли арендовать студию, реквизит
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.
                </p>
            </div>
            <div class="card-content hidden" data-index="4">
                <h4 class="card-header">
                    Что я получу после фотосессии
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.
                </p>
            </div>
            <div class="card-content hidden" data-index="5">
                <h4 class="card-header">
                    Возможные геолокации съемок
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.
                </p>
            </div>
            <div class="card-content hidden" data-index="6">
                <h4 class="card-header">
                    Как подготовиться к фотосессии
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere mi non sem maximus, a hendrerit augue rutrum. Quisque accumsan venenatis quam, commodo vehicula mauris commodo ac. Morbi ut ex vel est accumsan bibendum vitae ac sem. Fusce bibendum libero sed risus scelerisque, at tincidunt tellus vehicula. Sed vitae magna hendrerit, aliquet nunc in, dapibus nunc. Nulla rhoncus, nibh id rutrum bibendum, nunc lectus congue lacus, quis elementum urna urna ac risus. Praesent aliquet vehicula dui sed vulputate. Nam finibus nec erat quis rutrum. Praesent ac consectetur odio. Curabitur venenatis, ex sit amet scelerisque accumsan, purus ante mollis massa, eget auctor massa turpis a tortor. Duis ullamcorper sem eu elementum blandit. Mauris quis accumsan ante, eget luctus purus. Phasellus dignissim pellentesque felis egestas efficitur. Praesent quis dictum metus. Quisque porttitor scelerisque sapien, id fermentum nunc pharetra non. Nullam non diam commodo, eleifend erat in, dapibus risus.
                </p>
            </div>
        </div>
    </div>
    <div class="form g-32" id="form">
        <div class="form-name">
            <h2 class="modern big-header white">
                Заказать фотосессию
            </h2>
        </div>
        <div class="d-flex between g-50">
            <div class="row">
                <label class="modern" for="name">Ваше имя <span class="red">*</span></label>
                <% if(userData){ %>
                    <input type="text" name="name" id="name" class="modern req" value="<%= userData.name %>">
                <% }else { %>
                    <input type="text" name="name" id="name" class="modern req" value="">
                <% } %>
                
            </div>
            <div class="row">
                <label class="modern" for="email">Ваш email <span class="red">*</span></label>
                <% if(userData){ %>
                    <input type="email" name="email" id="email" class="modern req" value="<%= userData.email %>">
                <% }else { %>
                    <input type="email" name="email" id="email" class="modern req" value="">
                <% } %>
            </div>
        </div>
        <div class="d-flex between g-50">
            <div class="row">
                <label class="modern" for="link">Как с вами связаться <span class="red">*</span></label>
                <input type="text" name="link" id="link" class="modern req" >
            </div>
            <div class="row">
                <label class="modern" for="date">Предпочитаемая дата</label>
                <input type="date" name="date" id="date" class="modern">
            </div>
        </div>
        <div class="row">
            <label class="modern" for="desc">Дополнительная информация</label>
            <textarea class="modern" name="desc" id="desc"></textarea>
        </div>
        <div class="d-flex start full">
            <input type="checkbox" name="agreement" id="agreement">
            <label class="modern" for="agreement">Я предоставляю согласие на обработку персональных данных</label>
        </div>
        <button class="orange-btn full" id="send">Отправить</button>
    </div>
</div>
<script src="/js/<%= prefix %>.js"></script>