<link rel="preload" 
      href="/css/<%= prefix %>.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="<%= getJsAsset(prefix+'.js') %>" as="script">

<div class="content">
    <div class="schedule-header">
        <h2>Новая фотосессия</h2>
    </div>
    <div class="schedule-data">
        <input type="hidden" id="applicationID" value="<%= applicationID %>">
        <div class="d-flex g-32">
            <div class="info-group">
                <label>Название *</label>
                <div class="info-field">
                    <input type="text" class="field-value req" id="name">
                </div>
            </div>
            <div class="info-group">
                <label>Дата проведения *</label>
                <div class="info-field">
                    <input type="datetime-local" class="field-value req" id="date">
                </div>
            </div>
        </div>
        <div class="info-group w-100">
            <label>Дополнительная информация</label>
            <div class="info-field">
                <textarea class="field-value" id="desc"></textarea>
            </div>
        </div>
        <div class="d-flex center">
            <button id="save" class="orange-btn">Создать</button>
        </div>
    </div>
    
</div>
<script src="<%= getJsAsset(prefix+'.js') %>"></script>