<link rel="preload" 
      href="/css/<%= prefix %>.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<div class="content align-center center">
    <div class="d-flex column align-center g-32">
        <span class="status-code orange">
            404
        </span>
        <span class="status-desc orange">Страница не найдена</span>
    </div>
</div>