footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    background-color: #f5eedf;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.year,
.photographer{
    font-size: 18px;
    font-weight: 600;
}