#header{
    margin-top: 15px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    border-radius: 16px;
    background: linear-gradient(
        145deg,
        rgba(180, 180, 190, 0.1) 0%,
        rgba(120, 120, 130, 0.25) 100%
    );
  
    /* Очень сильное размытие */
    backdrop-filter: blur(50px) brightness(95%) contrast(120%);
    -webkit-backdrop-filter: blur(50px) brightness(95%) contrast(120%);
  
    /* Объемные тени */
    box-shadow:
        0 30px 80px rgba(60, 60, 70, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.1),
        inset 0 0 30px rgba(255, 255, 255, 0.05);
    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}