#header{
    margin-bottom: 15px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
}
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}
.logo{
    width: 200px;
}
.profile{
    border: 1px solid #FF6B00;
    border-radius: 8px;
    padding: 6px 14px;
}