#header{
    margin-top: 5px;
    height: 70px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    background-color: #f5eedfd6;
    position: fixed;
    z-index: 999;
    border-radius: 35px;
}
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    height: 60px;
}
.logo>a{
    position: relative;
    width: 200px;
    height: 60px;
}
.logo>a>img{
    position: relative;
    width: 200px;
    height: 60px;
}
.profile{
    padding: 6px 14px;
}
#header-btn{
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
}
