*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgba(40, 39, 39, 0.81);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("/media/bg.jpg");
    background-size: cover;
}
p.modern{
    font-size: 12px;
}
select.modern,
textarea.modern,
input.modern{
    width: 400px;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    color: gray;
}
h2.modern{
    font-weight: 200;
    font-size: 28px;
}
button.modern{
    padding: 8px 16px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: darkblue;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}
button.modern:disabled{
    color: black;
    background-color: lightslategray;
    outline: none;
}
.wrong{
    border: 1px solid red;
}
.alert{
    position: absolute;
    top: 15px;
    right: 15px;
    min-height: 75px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(103, 103, 103, 0.81);
    padding: 18px;
    background-color: #181818b8;
}
.alert-msg{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form{
    padding: 36px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.551);
    background-color: #fff;
}
label.modern{
    color: rgba(37, 37, 37, 0.719);
    font-size: 12px;
    font-weight: 600;
    margin-left: 15px;
}
a.modern{
    text-decoration: none;
    color: darkblue;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.center{
    justify-content: center;
}