.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.banner-with-text{
    border-radius: 25px;
    background-color: #fecc86b3;
    box-shadow: 0 0 5px #fecc86;
    padding-bottom: 25px;
    overflow: hidden;
}
.img-block{
    position: absolute;
    top: 25%;
    right: 45px;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.white{
    color: #FFF;
}
select.modern,
textarea.modern,
input.modern{
    width: 500px !important;
}
textarea.modern{
    width: 1050px !important;
}
.form{
    border-radius: 25px;
    gap: 35px;
}
.form-name{
    margin-bottom: 45px;
}
.empty{
    height: 700px;
}
.full{
    width: 1050px;
}
.banner-btn-place{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-btn-place>a.orange-btn{
    width: 300px;
    height: 75px;
    font-size: 24px;
}
.cards{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    position: relative;
    border-radius: 16px;
    background-color: #f5eedf;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 24%;
    margin-bottom: 24px;
    padding: 24px 14px;
    box-shadow: 0 0 5px #fecb86;
}
.card-header{
    font-size: 18px;
    font-weight: 600;
}
.card-text{
    font-size: 12px;
}