.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.banner-with-text{
    border-radius: 25px;
    background-color: #fecc86b3;
    box-shadow: 0 0 5px #fecc86;
    padding-bottom: 25px;
    overflow: hidden;
}
.img-block{
    position: absolute;
    top: 25%;
    right: 45px;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.white{
    color: #FFF;
}
select.modern,
textarea.modern,
input.modern{
    width: 500px !important;
}
textarea.modern{
    width: 1050px !important;
}
.form{
    border-radius: 25px;
    gap: 35px;
}
.form-name{
    margin-bottom: 15px;
}
.empty{
    height: 700px;
}
.full{
    width: 1050px;
}
.banner-btn-place{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-btn-place>a.orange-btn{
    width: 300px;
    height: 75px;
    font-size: 24px;
}
.card-header{
    font-size: 18px;
    font-weight: 600;
}
.cards-area{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.cards-row {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}
.cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 25px;
    padding: 10px;
}
.card {
    flex: 0 0 300px;
    background-color: #f5eedf;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
/* Навигационные кнопки */
.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.nav-btn {
    background-color: #f5eedf;
    color: #FF6B00;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.nav-btn:hover {
    background-color: #FF6B00;
    color: #f5eedf;
}

/* Индикаторные точки */
.carousel-dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f5eedf;
    cursor: pointer;
}

.dot.active {
    background-color: #FF6B00;
}
.card-desc{
    width: 100%;
    height: 400px;
    background-color: #f5eedf;
    border-radius: 15px;
}